.montserrat-extrabold {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

