.montserrat-extrabold {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* SVG */
.content-container {
    position: relative;
}

svg {
    position: relative;
    z-index: 1;
}


/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeDown 1s forwards;
}

.text-box h1 {
    text-align: center;
    color: #fceb00;
}

.text-box p a {
    color: white;
    text-decoration: none;
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s, transform 1s;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}


/* Tombol Buy Now */
.btn-buyNow {
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s;
}

.btn-buyNow::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fceb00;
    transition: bottom 0.4s;
    z-index: 1;
}

.btn-buyNow:hover::before {
    bottom: 0;
}

.btn-buyNow:hover {
    color: #000000;
}

.btn-buyNow span {
    position: relative;
    z-index: 2;
}
