.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Navbar */
.navbar-nav .nav-item {
    margin-right: 50px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
    text-align: center;
}


/* Tampilan Product */
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navbarNav .nav-link {
    color: black;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 0.4s;
}

#navbarNav .nav-link:hover {
    color: #ff602bdb;
}


/* Custom button styles */
.container-fluid .btn-search {
    border-color: #ffffffdb;
    background-color: #ff602bdb;
}

/* Custom icon color */
.container-fluid .btn-search i {
    color: #ffffffdb;
}


.input-group input:focus {
    box-shadow: none;
}

/* Footer */
footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 30px;
}

footer p, footer a, footer h4 {
    color: #ffffff;
}

footer a:hover {
    color: #ff602bdb;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
}

footer .form-group {
    display: flex;
    align-items: center;
}

footer .form-group input {
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    outline: none;
    background-color: #000000;
}

footer .form-group input::placeholder {
    color: #ffffff;
}


footer .form-group input:focus {
    border-bottom-color: #ffffff;
    box-shadow: none;
    background-color: #000000;
    color: white;
}

footer .btn-send {
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s;
}

footer .btn-send::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000db;
    transition: top 0.4s;
    z-index: 1;
}

footer .btn-send:hover::before {
    top: 0;
}

footer .btn-send:hover {
    color: #ffffff;
}

footer .btn-send span {
    position: relative;
    z-index: 2;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 13px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

::-webkit-scrollbar-thumb {
    background-color: #ff602b;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
}
